body{
    background-color: #CCBEA3;
    margin: 0px;
    padding: 0px;
    font-family: 'Irish Grover';
    background-image: url('../img/fondo-inicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-image: url('../img/header.jpeg');
    background-size: cover;
    background-position: center;
    height: 88px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

*{
    margin: 0;
    padding: 0;
    top: auto;

}
.loginb{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login{
    position: relative;
    width: 600px;
    height: 650px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.349);
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    /*background-color: rgba(222, 184, 135,0.75);*/
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Irish Grover';
}

.login h1{
    font-size: 2em;
    color: black;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 510px;
    border-bottom: 2px solid #000000;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #050505;
    font-size: 1em;
    pointer-events: none;
}
input:focus  ~ label,
input:valid ~ label{
    top: -5px
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #000000;
}

button{
    background-image: url(../img/Rectangle.png);
    background-size: cover;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
}
 
